/* Agenda styles */
* {
  transition: all 0.2s cubic-bezier(0.79, 0.09, 0.25, 0.97);
}
.agenda {
  background-color: #270101;
  width: 100%;
  height: 1000vh;
  color: white;
  .tutulos_agenda {
    margin: 0 auto;
    /* background-color: chartreuse; */
    max-width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
      margin-bottom: 0;
      font-size: 5rem;
    }
    h2 {
      margin: 10;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 30px;
    }
    p {
      font-weight: 700;
      font-size: 1em;
    }
  }
  /* .en_vivo {
    display: flex;
    align-items: center;
  } */
  .nav_agenda {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    nav {
      width: 90%;
      margin-bottom: 50px;
      div {
      }
    }

    ul {
      padding: 0;
      border-radius: 2px;
      background-color: rgb(29, 29, 29);
      text-align: center;
      display: flex;
      width: 100%;
      list-style: none;
      height: 100%;

      li {
        padding: 0;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;

        h1 {
          font-size: 1.5rem;
          font-weight: 700;
        }
        p {
          color: rgba(255, 255, 255, 0.459);
          font-size: 1rem;
          font-weight: 700;
          margin: 0;
        }
      }
      li:hover {
        cursor: pointer;
        background-color: rgb(20, 20, 20);
        border-bottom: solid 1px yellow;
      }

      /* Active opcion
      li:hover {
     
        cursor: pointer;
        /* background-color: rgb(20, 20, 20); 
        background-image: url("https://images.pexels.com/photos/129733/pexels-photo-129733.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
   
      } */
    }
  }
  div {
    hr {
      background-color: rgba(255, 255, 255, 0.452);
      height: 2px;
      width: 80%;
      border-radius: 10px;
      border: none;
    
    }
  }
}

.Segundo-dia {
  background-color: rgb(29, 29, 29);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  /* height: 300px; */
  width: 80%;
  margin: 0px auto 30px auto;

  /* estilos globales div de section "segundo día" */

  div {
    color: white;
    height: 100%;
    width: 100%;
  }

  div:nth-child(1) {
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    justify-content: center;
    figure {
      margin: 0;
      height: 100px;
      img {
        margin: 0;
        height: 100%;
        border-radius: 5px;
        margin-right: 20px;
      }
    }
  }

  div:nth-child(2) {
    /* background-color: rgb(255, 0, 0); */

    h1 {
      font-size: 2rem;
      font-weight: 400;
    }
    p {
      font-size: 1rem;
      font-weight: 200;
    }
  }

  div:nth-child(3) {
    /* background-color: rgb(38, 0, 255); */

    p {
      text-align: justify;
    }
  }

  div:nth-child(4) {
    display: flex;
    justify-content: center;
    img {
      background-color: rgba(29, 29, 29, 0.829);
      width: 50px;
      border-radius: 50%;
      border: solid 1px rgba(255, 255, 255, 0.521);
    }
    img:hover {
      cursor: pointer;
      background-color: rgba(65, 65, 65, 0.829);
      border: solid 1px rgba(255, 255, 255, 0.767);
    }
  }
}
